@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));

  --animate-float: float 6s ease-in-out infinite; /* Used in hero section  */
  --animate-pulse-subtle: pulse-subtle 4s ease-in-out infinite; /* Pulsates stars in background - happens forever - looks like actual stars */
  --animate-fade-in: fade-in 0.7s ease-out forwards; /* General fade in that can be applied to all below */
  --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards; /* Different options to fade text in */
  --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
  --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;
  --animate-fade-in-delay-4: fade-in 0.7s ease-out 0.8s forwards;
  --animate-meteor: meteor 5s linear infinite;

  @keyframes float { /* change transform beginning middle and end  */
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  @keyframes pulse-subtle { /* constantly pulsating for stars */
    0%,
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in { /* applies to text and images - goes from invisible to visible and from left to right (fade in) */
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes meteor { /* Meteor goes down in screen in diagonal manner */
    0% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}